@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-success: #10b981;
  --color-danger: #f43f5e;
  --color-warning: #f59e0b;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  color: #f1f5f9;
}
